/* Import the core DS colors */
@import "../../../../../client/css/colors"

#mia
  min-height: 100%
  display: flex
  justify-content: center
  align-items: center

  .mia-calendar
    display: grid
    grid-gap: 1rem
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr

    .aui.input
      grid-column: 6/8

    .date
      border: 1px solid black
      min-height: 7rem

      &.selected
        .date-header
          background: $success

      &:hover
        cursor: pointer
        background: white

      .date-header
        text-align: center
        padding: .5rem
        background: $primary
        color: white
        font-weight: bold

      .mias
        margin: .5rem
        font-size: 1.25rem
        font-weight: bold

        span
          font-size: .75rem
          font-weight: initial



  .modal-container

    .date-mias
      margin-bottom: 1rem
      display: grid
      grid-template-columns: repeat( auto-fit, minmax(150px, 1fr) )
      grid-gap: 1rem
      justify-items: center

      .date-mia
        display: flex
        align-items: center
        border: 1px solid grey

        span
          padding: .5rem 1rem

        .name
          margin: -1px 0 -1px -1px

        .duration
          flex: 1
          text-align: center

    .aui:not(button)
      margin-bottom: 1rem

    .control-bar
      margin-top: 1rem
      display: flex

      .aui.btn
        margin-left: auto

    .posted-message
      text-align: center
      height: 100%

