<div id="bosses">

    <!-- Create a new CRUD component -->
    <aui-crud v-bind="options">

        <!-- List title -->
        <template #list-title>Bosses</template>

        <!-- List buttons -->
        <template #list-buttons>
        </template>

        <!-- Form page -->
        <template #form="{ form, error, overlay }">

            <aui-input
                    label="Label"
                    :failure="error.label"
                    :disabled="overlay"
                    v-model="form.label"
            ></aui-input>

            <aui-select
                    label="Instance"
                    :failure="error.instance_id"
                    :disabled="overlay"
                    :options="type_options"
                    v-model="form.instance_id"
            ></aui-select>

        </template>

    </aui-crud>

</div>