
<div id="sales">

    <aui-crud v-bind="options" :form.sync="form" :feedback.sync="feedback" :calling.sync="calling">

        <!-- List title -->
        <template #list-title>Pricing Entries</template>

        <!-- Form page -->
        <template #form="{ overlay }">

            <aui-input
                    label="Label"
                    :failure="feedback.label"
                    :disabled="overlay"
                    v-model="form.label"
            ></aui-input>

            <aui-input
                    label="Price"
                    type="number"
                    :failure="feedback.price"
                    :disabled="overlay"
                    v-model="form.price"
            ></aui-input>

            <aui-select
                    label="Type"
                    :failure="feedback.type"
                    :disabled="overlay"
                    :options="type_options"
                    v-model="form.type"
            ></aui-select>

        </template>

    </aui-crud>

</div>